registry "https://registry.npm.taobao.org"
sass_binary_site "https://npm.taobao.org/mirrors/node-sass/"
electron_mirror "https://npm.taobao.org/mirrors/electron/"
chromedriver_force_download="true"
chromedriver_cdnurl="https://npmmirror.com/metadata"
chromedriver_cdnbinariesurl="https://npmmirror.com/binaries"