registry "https://registry.npm.taobao.org"
sass_binary_site "https://npm.taobao.org/mirrors/node-sass/"
electron_mirror "https://npm.taobao.org/mirrors/electron/"
chromedriver_cdnurl "https://cdn.npm.taobao.org/dist/chromedriver"