/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

html,
body,
#root,
.ant-app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  // background-color: #212121;
}

$color-white: #ffffff;
$color-gray-02: #f6f6f6;
$color-gray-05: #e9e9e9;
$color-gray-15: #dedede;
$color-gray-20: #c6c6c6;
$color-gray-25: #b9b9b9;
$color-gray-45: #848484;
$color-gray-60: #5e5e5e;
$color-gray-65: #4a4a4a;
$color-gray-75: #3b3b3b;
$color-gray-80: #2e2e2e;
$color-gray-90: #1b1b1b;
$color-gray-95: #121212;
$color-black: #000000;

// Themes
// To prevent matching the corresponding theme
@mixin light-theme() {
  @content;
}

@mixin dark-theme() {
  .dark & {
    @content;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;

  @include light-theme {
    background: $color-gray-25;
    border: 1px solid $color-gray-25;
  }

  @include dark-theme() {
    background: $color-gray-45;
    border: 1px solid $color-gray-90;
  }

  &:hover {
    @include light-theme {
      background: $color-gray-45;
    }

    @include dark-theme {
      background: $color-gray-25;
    }
  }
}
