.module-projects {
  padding: 16px 32px;

  &-header {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }

  th.ant-table-cell {
    color: #4a4a4a !important;
    font-weight: 300 !important;
  }
}
