.module-versions {
  padding: 16px 32px;

  &-header {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }

  &-label {
    &__link {
      font-weight: 500;
      cursor: pointer;

      &:hover {
        color: #74a975;
      }
    }

    &__gray {
      color: #999999;
      font-weight: 300;
    }
  }

  th.ant-table-cell {
    color: #4a4a4a !important;
    font-weight: 300 !important;
  }
}
